.widget.pivot_table tr > th,
.widget.pivot_table tr > td {
  /* padding: 1px 5px; */
}

td.backcolorlightpink {
  background: rgba(255, 182, 193, 0.5);
  color: #000000;
}

td.backcolorlightseagreen {
  background: rgba(32, 178, 170, 0.5);
  color: #000000;
}

td.backcolorlightblue {
  background: rgba(173, 216, 230, 0.5);
  color: #000000;
}

td.backcolorbeige {
  background: beige;
  color: #000000;
}

td.backcolorlightgray {
  background: lightgray;
  color: #000000;
}

td.importantbold {
  font-weight: bold;
}

td.justnormal {
  font-weight: normal;
}

tr.subtotal-hit {
  background: rgba(240, 220, 180, 0.5) !important;
  color: #000000;
}
