.widget.pivot_table tr > th,
.widget.pivot_table tr > td {
  /* padding: 1px 5px; */
}

table.dataTable thead > tr > th {
  padding-left: 5px;
}

.table-striped > tbody > tr:nth-of-type(odd).background-lightpink{
  background-color: #ffc7cd;
  color: #000000;
}

.table-striped > tbody > tr:nth-of-type(odd).background-lightseagreen{
  background-color: #c6efce;
  color: #000000;
}

.table-striped > tbody > tr:nth-of-type(odd).background-lightblue{
  background-color: rgba(173, 216, 230, 0.5);
  color: #000000;
}

.table-striped > tbody > tr:nth-of-type(odd).background-beige{
  background-color: rgba(240, 220, 180, 0.5);
  color: #000000;
}

.table-striped > tbody > tr:nth-of-type(odd).background-lightgray{
  background-color: lightgray;
  color: #000000;
}

td.background-lightpink, tr.background-lightpink, th.background-lightpink {
  background: #ffc7cd;
  color: #000000;
}

td.background-lightseagreen, tr.background-lightseagreen, th.background-lightseagreen {
  background: #c6efce;
  color: #000000;
}

td.background-lightblue, tr.background-lightblue, th.background-lightblue {
  background: rgba(173, 216, 230, 0.5);
  color: #000000;
}

td.background-beige, tr.background-beige, th.background-beige {
  background: rgba(240, 220, 180, 0.5);
  color: #000000;
}

td.background-lightgray, tr.background-lightgray, th.background-lightgray {
  background: lightgray;
  color: #000000;
}

td.bold, tr.bold {
  font-weight: bold;
}

td.normal, tr.normal {
  font-weight: normal;
}

tr.subtotal-hit {
  background: rgba(240, 220, 180, 0.5) !important;
  color: #000000;
}

.btn-custom {
  color: #555555;
  background-color: #fff;
  border-color: #b3b3b3;
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}