.slice-grid .widget.table .slice_container {
  overflow: auto !important;
}

.widget.table table {
  margin: 0px !important;
}

.widget.table td.filtered {
  background-color: #005a63;
  color: white;
}

.widget.table tr>th {
    font-size: small !important;
}

.widget.table tr>td {
    font-size: small !important;
}

table.table thead th.sorting:after, table.table thead th.sorting_asc:after, table.table thead th.sorting_desc:after {
  top: 8px;
}

.like-pre {
  white-space: pre-wrap;
}

/*
table.datatable {
  table-layout: fixed;
}
*/
